In [68]:
# Dependencies
import pandas as pd
import os
import numpy as np

In [6]:
# Store filepath in a variable
file_one = os.path.join("purchase_data_3.csv")

In [15]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [22]:
total_players = {'Total Players':[1]}
total_players_df = pd.DataFrame(data=total_players)
total_players_df['Total Players']= file_one_df["SN"].nunique()
total_players_df.head()

   Total Players
0             74

In [25]:
file_one_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Iloni35,20,Male,93,Apocalyptic Battlescythe,4.49
1,1,Aidaira26,21,Male,12,Dawne,3.36
2,2,Irim47,17,Male,5,Putrid Fan,2.63
3,3,Irith83,17,Male,123,Twilight's Carver,2.55
4,4,Philodil43,22,Male,154,Feral Katana,4.11

In [89]:
purchases ={'Number of Unique Items':[1],
            "Average Price":[1],
            "Number of Purchases":[1],
            "Total Revenue":[1]}

purchases_df = pd.DataFrame(data=purchases)

purchases_df["Number of Unique Items"] = file_one_df["Item ID"].nunique()

purchases_df["Average Price"] = file_one_df["Price"].mean()

purchases_df["Number of Purchases"] = file_one_df["Purchase ID"].count()

purchases_df["Total Revenue"] = file_one_df["Price"].sum()

purchases_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       2.924359                   78                      64          228.1

In [92]:
gender_df = pd.DataFrame(columns=['Percentage of Players', 'Total Count'],
                        index=['Male','Female','Other/ Non-disclosed'])

#gender_count = file_one_df[file_one_df.Gender == "Male"].count()

#gender_df.loc["Male","Total Count"] = file_one_df.value_counts()["Male"]


#file_one_df.value_counts()

#df['word'].value_counts()

#df.word.value_counts()['myword']


#file_one_df.loc[file_one_df.Gender == "Male",:].count()


#file_one_df.loc[file_one_df.Gender == "Male",:].count()

gender_count_male = file_one_df.loc[file_one_df.Gender == "Male",:].count()

gender_count_female = file_one_df.loc[file_one_df.Gender == "Female",:].count()

gender_count_other = file_one_df.loc[file_one_df.Gender == "Other / Non-Disclosed",:].count()

#gender_df.iloc[0,1] = len(gender_count_male)

gender_df



#df = pd.DataFrame({'a': [1, 2, 3]})
#df[df.a > 1].sum()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [104]:
purchasing_gender_df = pd.DataFrame(columns=['Purchase Count', 'Average Purchase Price', 'Total Purchase Value','Normalized Totals'],
                        index=['Male','Female','Other/ Non-disclosed'])

gender_counts = pd.DataFrame(file_one_df["Gender"].value_counts())


#merge_table = pd.merge(info_pd, items_pd, on="customer_id")
#merge_table


gender_counts_table = pd.merge(purchasing_gender_df, gender_counts)

MergeError: No common columns to perform merge on