In [157]:
# Dependencies
import pandas as pd
import numpy as np

In [158]:
# Store filepath in a variable
file_one = os.path.join("purchase_data_3.csv")

In [159]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [160]:
total_players = {'Total Players':[1]}
total_players_df = pd.DataFrame(data=total_players)
total_players_df['Total Players']= file_one_df["SN"].nunique()
total_players_df.head()

   Total Players
0             74

In [161]:
file_one_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Iloni35,20,Male,93,Apocalyptic Battlescythe,4.49
1,1,Aidaira26,21,Male,12,Dawne,3.36
2,2,Irim47,17,Male,5,Putrid Fan,2.63
3,3,Irith83,17,Male,123,Twilight's Carver,2.55
4,4,Philodil43,22,Male,154,Feral Katana,4.11

In [162]:
purchases ={'Number of Unique Items':[1],
            "Average Price":[1],
            "Number of Purchases":[1],
            "Total Revenue":[1]}

purchases_df = pd.DataFrame(data=purchases)

purchases_df["Number of Unique Items"] = file_one_df["Item ID"].nunique()

purchases_df["Average Price"] = file_one_df["Price"].mean()

purchases_df["Number of Purchases"] = file_one_df["Purchase ID"].count()

purchases_df["Total Revenue"] = file_one_df["Price"].sum()

purchases_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       2.924359                   78                      64          228.1

In [163]:
#gender_df = pd.DataFrame(columns=['Percentage of Players', 'Total Count'],
                        #index=['Male','Female','Other/ Non-disclosed'])

#gender_df = pd.DataFrame(file_one_df["Gender"].value_counts(), columns=['Total Count'])
   
#gender_df["Total Count"] = 

gender_counts_df = pd.DataFrame(file_one_df["Gender"].value_counts())

gender_counts_df["Percentage of Players"] = gender_counts_df["Gender"] / gender_counts_df["Gender"].sum()

gender_counts_df.rename(columns={'Gender':'Total Count'}, inplace=True)

gender_counts_df.style.format({'Percentage of Players':"{:.2%}"})   

gender_counts_df

                       Total Count  Percentage of Players
Male                            64               0.820513
Female                          13               0.166667
Other / Non-Disclosed            1               0.012821

In [164]:
gender_purchase_df = pd.DataFrame(file_one_df.groupby(['Gender']).count()["Purchase ID"])

gender_purchase_df = gender_purchase_df.rename(columns={'Purchase ID': 'Purchase Count'})

gender_purchase_df["Average Purchase Price"] = file_one_df.groupby(['Gender']).mean()["Price"]

gender_purchase_df["Total Purchase Value"] = file_one_df.groupby(['Gender']).sum()["Price"]

gender_purchase_df["Normalized Total"] = file_one_df.groupby(['Gender']).sum()["Price"] / file_one_df.sum()["Price"]

gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Total
Gender,,,,
Female,13,3.183077,41.38,0.181412
Male,64,2.884375,184.60,0.809294
Other / Non-Disclosed,1,2.120000,2.12,0.009294

In [180]:
bins = [0, 10, 15, 20, 40]

group_names = ['<10', '10-15', '16-20', '21-40']

age_df = file_one_df.copy()

age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=group_names)

age_purchase_df = pd.DataFrame(age_df.groupby(["Age Group"]).count()["Purchase ID"])

age_purchase_df = age_purchase_df.rename(columns={'Purchase ID': 'Purchase Count'})

age_purchase_df["Average Purchase Price"] = age_df.groupby("Age Group").mean()["Price"]

age_purchase_df["Total Purchase Value"] = age_df.groupby(["Age Group"]).sum()["Price"]

age_purchase_df["Normalized Total"] = age_df.groupby(["Age Group"]).sum()["Price"] / age_df.sum()["Price"]

age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Total
Age Group,,,,
<10,5,2.764000,13.82,0.060587
10-15,4,3.052500,12.21,0.053529
16-20,20,2.734500,54.69,0.239763
21-40,49,3.007755,147.38,0.646120